@font-face {
	font-family: "mplus";
	src: url(font/mplus-1p-bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: "mplus";
	src: url(font/mplus-1p-regular.ttf);
}

body {
    font-family: mplus;
}
